{% extends 'base.html' %}

{% block title %}Register - AuraBlog{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Create Account</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <span class="helptext">{{ field.help_text }}</span>
                {% endif %}
                {% for error in field.errors %}
                    <ul class="errorlist"><li>{{ error }}</li></ul>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 1rem;">Sign Up</button>
    </form>
    <div class="auth-footer">
        Already have an account? <a href="{% url 'login' %}">Log in here</a>
    </div>
</div>
{% endblock %}
